h1, h2, h3, h4, h5, h6{
  font-weight: 400;
}
.header{
  color: seagreen;
  text-align: center;
}
.mainDiv{
  width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.childDiv, p{
  background-color: rgb(238, 251, 255);
  padding: 20px;
  margin: 10px;
  border: 1px solid lightgray;
  word-spacing: 2px;
  letter-spacing: .4px;
  border-radius: 3px;
}

.childDiv img{
  width: 350px;
  padding: 8px;
  margin: 6px;
}